.FaqTitle {
    text-align: center;
    font-size: 26px;
    padding-top: 5rem;
    scroll-margin-top: 7rem;
}

.faq {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

.faq li {
    font-size: 16px;
    border-bottom: 2px solid rgb(213, 216, 220);
}


.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1.3rem 0;
    transition: background-color .3s ease;
}

.question:target{
    background-color: #000
}

.answer{
    font-size: 14px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.06);
    /* margin-top: 0.5rem; */
    padding: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .3s ease, opacity .3s ease;
}

.answer-active {
    max-height: 1000px;
    opacity: 1;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.icon {
    transition: transform .3s ease;
}

.icon-active {
    transform: rotate(90deg);
}

@media (min-width: 1024px) {
    .question{
        font-size: 20px;
    }
    .question:hover{
        /* background-color: #e5dfd5; */
        background-color: #bf97661a;
    }
    .answer{
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
  .faq{
    width: 80%;
  }
}