html {
    scroll-behavior: smooth;
}

.header_image_spa {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #dedede;
    background: -webkit-linear-gradient(181deg, rgba(222, 222, 222, 0.5) 0%, rgba(227, 227, 227, 0.5) 27%, rgba(196, 196, 196, 0.5) 50%, rgba(150, 150, 150, 0.5) 73%, rgba(163, 163, 163, 0.5) 100%);
    background: -moz-linear-gradient(181deg, rgba(222, 222, 222, 0.5) 0%, rgba(227, 227, 227, 0.5) 27%, rgba(196, 196, 196, 0.5) 50%, rgba(150, 150, 150, 0.5) 73%, rgba(163, 163, 163, 0.5) 100%);
    background: linear-gradient(181deg, rgba(222, 222, 222, 0.5) 0%, rgba(227, 227, 227, 0.5) 27%, rgba(196, 196, 196, 0.5) 50%, rgba(150, 150, 150, 0.5) 73%, rgba(163, 163, 163, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DEDEDE", endColorstr="#A3A3A3", GradientType=0);
    width: 100%;
    height: 20rem;
    margin-top: 6rem;
}


.header_image_spa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.imageText_container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0;
    gap: 1rem;
    z-index: 1;
}

.lineDivider {
    width: 2px;
    background: #fff;
    height: 7rem;
    border-radius: 5px;
    align-self: flex-start;
}

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: #000000; */
  /* background: linear-gradient(180deg, #000000 0%, #ffffff 80%); */
  background: -webkit-linear-gradient(268deg, #000000 0%, #323232 80%);
  background: -moz-linear-gradient(180deg, #000000 0%, #323232 80%);
  opacity: .7;
}

.imageText_container small {
    font-size: 16px;
    color: #BF9766;
    font-family: var(--font-bodar), serif;
    font-style: italic;
    align-self: flex-start;
    font-weight: 600;
}

.imageText_container h1 {
    font-size: 38px;
}

.imageText_container a {
    margin-top: 5rem;
    width: 12rem;
    background: var(--brown);
    height: 4rem;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.spa_section {
    margin: 0 auto 3rem;
    width: 90%;
}

.spa_presentation {
    padding-bottom: 3rem;
    border-bottom: 1px solid #323232;
}

.spa_titles h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 32px;
    font-family: var(--font-bodar), serif;
    font-style: italic;
    color: #63271c;
}

.spa_titles h2 {
    text-align: center;
    font-size: 20px;
}

.spa_titles p {
    margin-top: 2rem;
    font-size: 16px;
}

.btn_seemore {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.btn_seemore_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 4rem;
    background: #a58765;
    color: #f4ede0;
    font-size: 16px;
    border-radius: 3px;
}

.opening_hours {
    margin: 3rem 1rem 0;
}

.opening_hours h3 {
    font-size: 30px;
    font-family: var(--font-bodar), serif;
}

.opening_hours p {
    margin: 1rem 0 0;
}

.spa_offers h2 {
    padding-top: 5rem;
    font-size: 30px;
    font-family: var(--font-bodar), serif;
    text-align: center;
}

.offers_items {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.offers_items img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.offers_items h3 {
    margin-top: 1rem;
    font-size: 24px;
}

.offers_items p {
    margin-top: 0.5rem;
    font-size: 14px;
}

.offers_items li {
    display: flex;
    flex-direction: column;
}

.offers_items a {
    padding: 1rem 0rem;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    background: #a58765;
    color: #f4ede0;
    transition: all .3s;
}

.offers_items a:hover {
    background-color: #cdab84;
}

.description_masage {
    display: flex;
    flex-direction: column;
}

#spa_card2_desktop {
    display: none;
}

@media (min-width: 768px) {
    .offers_items a {
        width: 100%;
    }
    .imageText_container h1{
        font-size: 40px;
    }
}

@media (min-width: 1024px) {
    .header_image_spa {
        margin-top: 8rem;
        height: 25rem;
    }

    #spa_card2_mobile {
        display: none;
    }

    #spa_card2_desktop {
        display: flex;
    }

    .offers_items li {
        width: 100%;
        flex-direction: row;
        height: 20rem;
        gap: 2rem;
    }

    .offers_items img {
        width: 60%;
        height: 100%;
    }

    .description_masage {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .description_masage h3 {
        margin-top: 0;
    }

    .imageText_container a {
        display: none;
    }

    .imageText_container h1 {
        font-size: 40px;
    }

    .imageText_container small {
        font-size: 20px;
    }

    .spa_titles h2 {
        font-size: 24px;
    }

    .spa_titles p {
        font-size: 18px;
    }

    .btn_seemore_item {
        font-size: 20px;
        padding: 2rem 2rem;
        font-weight: 600;
        height: auto;
        width: auto;
    }

    .opening_hours h3 {
        font-size: 36px;
    }

    .opening_hours p {
        font-size: 18px;
    }

    .offers_items p {
        font-size: 16px;
    }

    .offers_items a {
        font-size: 20px;
        font-weight: 600;
    }
}

@media (min-width: 1440px) {
    .spa_section {
        width: 80%;
    }
    .header_image_spa {
        height: 30rem;
    }
}