.heroContact {
    height: 20rem;
    margin-top: 6rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem auto 0;
    gap: 3rem;
}

.main h1 {
    text-align: center;
    font-size: 30px;
    font-family: var(--font-bodar);
}

.main h2 {
    font-weight: lighter;
    font-size: 24px;
}

.main p {
    font-size: 16px;
    margin-bottom: 20px;
}

.location_iframe {
    width: 90%;
}

@media (min-width: 1024px) {
    .main {
        flex-direction: row;
        width: 90%;
        align-items: stretch;
    }

    .heroContact {
        margin-top: 8rem;
        height: 25rem;
    }

    .location_iframe{
        width: 40%;
    }

}

@media (min-width: 1440px) {
    .main {
        width: 80%;
    }

    .heroContact {
        height: 30rem;
    }

}
