.header_image_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #dedede;
    background: -webkit-linear-gradient(181deg, rgba(222, 222, 222, 0.5) 0%, rgba(227, 227, 227, 0.5) 27%, rgba(196, 196, 196, 0.5) 50%, rgba(150, 150, 150, 0.5) 73%, rgba(163, 163, 163, 0.5) 100%);
    background: -moz-linear-gradient(181deg, rgba(222, 222, 222, 0.5) 0%, rgba(227, 227, 227, 0.5) 27%, rgba(196, 196, 196, 0.5) 50%, rgba(150, 150, 150, 0.5) 73%, rgba(163, 163, 163, 0.5) 100%);
    background: linear-gradient(181deg, rgba(222, 222, 222, 0.5) 0%, rgba(227, 227, 227, 0.5) 27%, rgba(196, 196, 196, 0.5) 50%, rgba(150, 150, 150, 0.5) 73%, rgba(163, 163, 163, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DEDEDE", endColorstr="#A3A3A3", GradientType=0);
    width: 100%;
    height: 20rem;
    margin-top: 6rem;
}

.header_image_contact img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.imageText_container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 1;
}

.lineDivider {
    width: 2px;
    background: #fff;
    height: 7rem;
    border-radius: 5px;
    align-self: flex-start;
}

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: #000000; */
  /* background: linear-gradient(180deg, #000000 0%, #ffffff 80%); */
  background: -webkit-linear-gradient(268deg, #000000 0%, #323232 80%);
  background: -moz-linear-gradient(180deg, #000000 0%, #323232 80%);
  opacity: .7;
}

.imageText_container small {
    font-size: 16px;
    color: #BF9766;
    font-family: var(--font-bodar), serif;
    font-style: italic;
    align-self: flex-start;
    font-weight: 600;
}

.imageText_container h1 {
    font-size: 38px;
    font-family: var(--font-eb-garamond), serif;
}

.imageText_container a {
    margin-top: 5rem;
    width: 100%;
    background: var(--brown);
    height: 4rem;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem auto 0;
    gap: 3rem;
}

.main h1 {
    text-align: center;
    font-size: 30px;
    font-family: var(--font-bodar);
}

.main h2 {
    font-weight: lighter;
    font-size: 24px;
}

.main p {
    font-size: 16px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .imageText_container h1 {
        align-self: flex-start;
        font-size: 70px;
    }
}

@media (min-width: 1024px) {
    .imageText_container a {
        display: none;
    }

    .header_image_contact {
        margin-top: 8rem;
        height: 25rem;
    }

    .imageText_container small {
        font-size: 20px;
    }

}

@media (min-width: 1440px) {
    .main {
        width: 80%;
    }
    .header_image_contact {
        height: 30rem;
    }

}