/* spinner css */

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner .throbber {
    width: 50px;
    height: 50px;
    animation: spin 1.6s linear infinite;
}

.spinner .throbber .arc {
    fill: none;
    stroke-width: 20;
    stroke-dasharray: 5 251.2;
    stroke-dashoffset: 0;
    animation:
        rotateOffset 0.9s linear infinite,
        growShrink 0.9s ease-in-out infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateOffset {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -265.2;
    }
}

@keyframes growShrink {

    0%,
    100% {
        stroke-dasharray: 5 251.2;
    }

    25% {
        stroke-dasharray: 60 251.2;
    }

    50% {
        stroke-dasharray: 130 251.2;
    }

    75% {
        stroke-dasharray: 60 251.2;
    }
}


.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    width: 90%;
    padding: 2rem 0rem;
}


.contactForm_input_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: .5rem;
    align-items: flex-start;
    margin: auto;
}

.contactForm_input_container span {
    font-size: 14px;
    font-weight: 600;
}

.contactForm_input_container small {
    color: red;
    margin-left: .2rem;
}

.contactForm_input_container input {
    height: 3rem;
    padding-left: .5rem;
    border: 1px solid var(--text-body);
    width: 100%;
}

.contactForm_input_container_submit {
    display: flex;
    justify-content: center;
}

.contactForm_input_container_submit input {
    cursor: pointer;
    width: 90%;
    height: 3rem;
    font-size: 16px;
    background-color: var(--red);
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    transition: all .3s;
}

.contactForm_input_container_submit input:hover{
    background-color: rgba(99, 39, 28, .863);
}

.contactForm_input_container textarea {
    width: 100%;
    padding: .3rem;
    border: 1px solid var(--text-body);
    height: 3rem;
    border-radius: 5px;
}

input:focus,
textarea:focus {
    border: 1px solid #007aff;
    box-shadow: #007aff;
    outline: none;
}

@media (min-width: 1024px) {
    .contactForm_inputs {
        display: flex;
        flex-wrap: wrap;
    }

    .contactForm_input_container {
        width: 40%;
    }
    .contactForm_input_container span{
        font-size: 16px;
    }
    .contactForm_input_container input, .contactForm_input_container textarea{
        height: 4rem;
        font-size: 16px;
    }
    .contactForm_input_container_submit input{
        font-size: 20px;
    }
}