.flagsChange_container{
    position: relative;
}

.current_container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.current_container svg {
    width: 1rem;
    height: 1rem;
    transform: rotate(90deg);
    background: transparent;
}

.drop_menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    margin-top: 1rem;
}

.image_container_currentFlag {
    position: relative;
    width: 30px;
    height: 20px;
}

.image_container_flags {
    position: relative;
    width: 28px;
    height: 18px;
    cursor: pointer;
}