.footer {
    background-color: var(--text-color-b);
    padding-bottom: 6rem;
    margin-top: 5rem;
}

.footerContainer {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

.footerImg img {
    width: 8rem;
}

.footerImg {
    color: #b5b5b5;
    font-size: 14px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footerContact {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footerContact div {
    display: flex;
    align-items: center;
    gap: .3rem;
    color: #b5b5b5;
}

.footerContact svg {
    fill: var(--gold);
}

.footerNavegation {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footerNavegation h3 {
    color: var(--gold);
    font-size: 18px;
    font-family: var(--font-eb-garamond), serif;
}

.footerNavegation ul {
    font-size: 14px;
    color: #b5b5b5;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.socialMedia h3 {
    color: var(--gold);
    font-size: 18px;
    font-family: var(--font-eb-garamond), serif;
}

.socialMedia ul {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #b5b5b5;
}

.copyRight {
    color: #b5b5b5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .3rem;
    font-size: 12px;
    border-top: 1px solid #ffffff75;
    padding-top: 1rem;
}

.footerExtras {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-direction: column;
}

.socialMedia svg {
    cursor: pointer;
}

.socialMedia svg:hover {
    color: var(--gold2);
    transition: all .3s;
}

.reviews_container{
    display: block !important;
    width: 90% !important;
    margin: 6rem auto 0 !important;
} 

@media (min-width: 768px) {
    .footerExtras {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .footer {
        padding-bottom: 10rem;
    }

    .footerContainer {
        width: 80%;
    }

    .footerImg img {
        width: 13rem;
    }

    .footerImg p {
        font-size: 16px;
    }

    .footerNavegation h3 {
        font-size: 20px;
    }

    .footerNavegation ul {
        font-size: 16px;
    }

    .footerContact {
        font-size: 16px;
    }

    .socialMedia h3 {
        font-size: 20px;
    }

    .socialMedia svg {
        width: 2rem;
        height: 2rem;
    }

    .copyRight {
        font-size: 16px;
    }
}