.main {
  margin-top: 6rem;
}

.ayresPresentation {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  margin: 0 auto 0;
}

.ayresPresentation small {
  color: var(--red);
  font-size: 18px;
  font-family: var(--font-eb-garamond), serif;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 5px;
}

.ayresPresentation h2 {
  font-size: 30px;
  font-family: var(--font-bodar), serif;
  margin-bottom: 2rem;
}

.ayresPresentation h3 {
  font-size: 32px;
  font-family: var(--font-bodar), serif;
  margin-bottom: 2rem;
  text-align: left;
  color: var(--red);
}

.ayresPresentation p {
  font-size: 14px;
  text-align: left;
}

.ayresPresentation a {
  margin-top: 3rem;
  width: 100%;
  height: 4rem;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  color: var(--text-body);
  margin-bottom: 4rem;
  transition: all .3s;
}

.ayresPresentation a:hover {
  background-color: #63271cdc;
}

.header_image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39rem;
  position: relative;
  background: #000000;
  background: linear-gradient(180deg, #000000 0%, #ffffff 80%);
  background: -webkit-linear-gradient(180deg, #000000 0%, #ffffff 80%);
  background: -moz-linear-gradient(180deg, #000000 0%, #ffffff 80%);
}


.header_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: #000000; */
  /* background: linear-gradient(180deg, #000000 0%, #ffffff 80%); */
  background: -webkit-linear-gradient(268deg, #000000 0%, #7f7f7f 80%);
  background: -moz-linear-gradient(180deg, #000000 0%, #ffffff 80%);
  opacity: .7;
}

.imageText_container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  left: 50%;
  z-index: 1;
}

.lineDivider {
  width: 2px;
  background: #fff;
  height: 7rem;
  border-radius: 5px;
  align-self: flex-start;
}

.imageText_container small {
  font-size: 16px;
  color: #BF9766;
  font-family: var(--font-bodar), serif;
  font-style: italic;
  align-self: flex-start;
  font-weight: 600;
}

.imageText_container h1 {
  font-size: 38px;
  font-family: var(--font-eb-garamond), serif;
}

.imageText_container a {
  margin-top: 5rem;
  width: 100%;
  background: #323232;
  height: 4rem;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.image_desktop_container {
  display: none;
}

.wpp_btn {
  position: fixed;
  background: #12C60F;
  right: 1rem;
  bottom: 6rem;
  height: 4.5rem;
  width: 4.5rem;
  /* padding: 1rem; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}

.wpp_btn:hover {
  background: #0fa10c;
}

.wpp_btn svg {
  fill: #fff !important;
  height: 70%;
  width: 100%;
}

@media (min-width: 768px) {
  .imageText_container h1 {
    align-self: flex-start;
  }

  .wpp_btn{
    right: 3rem;
    bottom: 8rem;
  }
}

@media (min-width: 1024px) {

  .header_image {
    height: 70vh;
    width: 90%;
    margin: 8rem auto 0;
    flex-direction: column;
    gap: 4rem;
  }

  .ayresPresentation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
    height: 29rem;
  }

  .ayresPresentation a {
    margin-bottom: 0;
  }

  .ayresPresentation article {
    width: 40%;
  }

  .image_desktop_container {
    display: block;
  }

  .imageText_container a {
    display: none;
  }

  .imageText_container small {
    font-size: 20px;
  }

  .imageText_container h1 {
    font-size: 48px;
  }

  .ayresPresentation small {
    font-size: 20px;
  }

  .ayresPresentation h2 {
    font-size: 38px;
  }

  .ayresPresentation p {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .imageText_container {
    width: 80%;
  }

  .main {
    width: 80%;
    margin: 6rem auto 0;
  }
}