.main {
  margin-top: 6rem;
}

.ayresPresentation {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  margin: 0 auto 0;
}

.ayresPresentation small {
  color: var(--red);
  font-size: 18px;
  font-family: var(--font-eb-garamond), serif;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 5px;
}

.ayresPresentation h2 {
  font-size: 30px;
  font-family: var(--font-bodar), serif;
  margin-bottom: 2rem;
}

.ayresPresentation h3 {
  font-size: 32px;
  font-family: var(--font-bodar), serif;
  margin-bottom: 2rem;
  text-align: left;
  color: var(--red);
}

.ayresPresentation p {
  font-size: 14px;
  text-align: left;
}

.ayresPresentation a {
  margin-top: 3rem;
  width: 100%;
  height: 4rem;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  color: var(--text-body);
  margin-bottom: 4rem;
  transition: all .3s;
}

.ayresPresentation a:hover {
  background-color: #63271cdc;
}



.image_desktop_container {
  display: none;
}

.wpp_btn {
  position: fixed;
  background: #12C60F;
  right: 1rem;
  bottom: 6rem;
  height: 4.5rem;
  width: 4.5rem;
  /* padding: 1rem; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  z-index: 10;
}

.wpp_btn:hover {
  background: #0fa10c;
}

.wpp_btn svg {
  fill: #fff !important;
  height: 70%;
  width: 100%;
}

@media (min-width: 768px) {
  .wpp_btn {
    right: 3rem;
    bottom: 8rem;
  }
}

@media (min-width: 1024px) {
  .ayresPresentation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
    height: 29rem;
  }

  .ayresPresentation a {
    margin-bottom: 0;
  }

  .ayresPresentation article {
    width: 40%;
  }

  .image_desktop_container {
    display: block;
  }

  .ayresPresentation small {
    font-size: 20px;
  }

  .ayresPresentation h2 {
    font-size: 38px;
  }

  .ayresPresentation p {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .main {
    width: 80%;
    margin: 6rem auto 0;
  }
}